.footer {
  width: 100%;
  height: 200px;
  background-color: #9fffab;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.socialMedia svg {
  color: white;
  margin: 5px;
  font-size: 70px;
  cursor: pointer;
  width: 50px;
}

.socialMedia {}

.footer p {
  color: white;
}
